examples/add-url-and-chat.json
{
	"name": "NotebookLM - Add URL Source and Ask",
	"nodes": [
		{
			"parameters": {},
			"id": "a1b2c3d4-0002-0001-0001-000000000001",
			"name": "When clicking 'Test workflow'",
			"type": "n8n-nodes-base.manualTrigger",
			"typeVersion": 1,
			"position": [240, 300]
		},
		{
			"parameters": {
				"resource": "source",
				"operation": "addUrl",
				"notebookId": "={{ $json.notebookId }}",
				"url": "https://example.com/article"
			},
			"id": "a1b2c3d4-0002-0001-0001-000000000002",
			"name": "Add URL Source",
			"type": "CUSTOM.notebookLm",
			"typeVersion": 1,
			"position": [460, 300],
			"credentials": {
				"notebookLmApi": {
					"id": "1",
					"name": "NotebookLM account"
				}
			}
		},
		{
			"parameters": {
				"resource": "chat",
				"operation": "ask",
				"notebookId": "={{ $json.notebookId }}",
				"message": "Summarize the key points from the sources."
			},
			"id": "a1b2c3d4-0002-0001-0001-000000000003",
			"name": "Ask NotebookLM",
			"type": "CUSTOM.notebookLm",
			"typeVersion": 1,
			"position": [680, 300],
			"credentials": {
				"notebookLmApi": {
					"id": "1",
					"name": "NotebookLM account"
				}
			}
		}
	],
	"connections": {
		"When clicking 'Test workflow'": {
			"main": [[{ "node": "Add URL Source", "type": "main", "index": 0 }]]
		},
		"Add URL Source": {
			"main": [[{ "node": "Ask NotebookLM", "type": "main", "index": 0 }]]
		}
	}
}
